<div class="app-bar">
  <div id="toolbar-homepage">
    <div id="date-time">
      <div id="time"></div>
      <div id="date"></div>
    </div>
    <div id="nav">
      <div class="nav-container">
        <a href="/setpoints">
          <button id="nav-btn" class="calendar"></button>
        </a>
        <a href="/editdatetime">
          <button id="nav-btn" class="settings"></button>
        </a>
      </div>
    </div>
  </div>
</div>
   
