   <div class="app-bar">
     <div id="toolbar-homepage">
        <div id="date-time">
          <div>
            <div id="time">4:47 PM</div>
            <div id="date">Wed, Nov. 7th</div>
          </div>
        </div>
        <div id="nav">
          <a href="/setpoints">
            <button id="nav-btn" fontSize="large"></button>
          </a>
          <a href="/editdatetime">
            <button id="nav-btn" fontSize="large"></button>
          </a>
        </div>
     </div>
   </div>
   
   
