<div class="app-bar">
  <div id="toolbar">
    <div id="date-time">
    </div>
    <div id="nav">
      <div class="nav-container">
        <a href="/">
          <button id="nav-btn" class="home"></button>
        </a>
        <a href="/editdatetime">
          <button id="nav-btn" class="settings"></button>
        </a>
      </div>
    </div>
  </div>
</div>
   
