<div id="custom-dial-container">
    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">Month</div>
        <div id="arrow-down"></div>
    </div>

    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">Day</div>
        <div id="arrow-down"></div>
    </div>

    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">Year</div>
        <div id="arrow-down"></div>
    </div>
</div>