<div id="custom-dial-container">
    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">Hour</div>
        <div id="arrow-down"></div>
    </div>

    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">Minute</div>
        <div id="arrow-down"></div>
    </div>

    <div>
        <div id="arrow-up"></div>
        <div id="dial-text">AM</div>
        <div id="arrow-down"></div>
    </div>
</div>