<!DOCTYPE html>
<html>
<head>

    <title>Thermostat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/set-date-time.js"></script> 
    <script src="/client.js"></script> 
</head>

<body>
  <div id="screen">
    <% include ./partials/nav.1.ejs %>

    <div class="component-wrapper datetime-wrapper">
      <div id="main-datetime">
        <div id="datetime-label">Select Time</div>
        <% include ./partials/selecttime.ejs %>

        <div id="datetime-label">Select Date</div>
        <% include ./partials/selectdate.ejs %>
      </div>
    </div>

    <div id="button-container">
      <a href='/' class="button back-btn">BACK</a>
      <a class="button next-btn" onclick="updateJSON()">SAVE</a>
    </div>
  </div>
</body>
</html>
