<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/main-page.js"></script>
  <script src="/javascripts/adjust-temp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  
  <script src="/client.js"></script>  

  <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var ampm = 'AM'
        if (h > 12) {
            h -= 12;
            ampm = 'PM'
        } else if (h === 0) {
          h = 12;
        }
        var m = today.getMinutes();
        m = checkTime(m);

        document.getElementById('time').innerHTML = h + ":" + m + " " + ampm;
        var t = setTimeout(startTime, 1000);

        var months = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];
        var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];
        var date = days[today.getDay()] + ', ' + months[today.getMonth()] + ' ' + today.getDate()
        document.getElementById("date").innerHTML = date;
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
  </script>
</head>

<body onload="startTime();">
  <div id="screen">
      <% include ./partials/nav.ejs %>

      <div id="main-homepage">
        <div id="hvac-control">
          <button id="auto" class="button hvac-button auto" value="0" onclick="auto()"></button>
          <button id="heat" class="button hvac-button heat" value="0" onclick="heat()"></button>
          <button id="ac" class="button hvac-button ac" value="0" onclick="ac()"></button>
        </div>
	
        

        <div id="temp-container">
          <p id="curr-temp"><%= tempF %>&#730;</p>
          <div id="status-container">
            <p id="hvac-status-id">Status: </p>
            <p id="hvac-status">OFF</p>
          </div>
          

        </div>
        <div id="adjust-container">
          <div id="adjust-box">
            <div id="arrow-up" onclick="adjustTemp('up', 'desired-temp')"></div>
            <p id="desired-temp-label">SET TEMP</p>
            <p id="desired-temp">60&#730;</p>
            <div id="arrow-down"  onclick="adjustTemp('down', 'desired-temp')"></div>
            <button id="hold" class="button hold-btn" value="0" onclick="hold()">HOLD</button>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
